body{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-image: url("assets/plage2.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.Persos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(144, 89, 151);
    
}
.boitePerso{
    width: 100px;
    background-color: rgb(188, 172, 224);
    border: 10px solid rgb(45, 5, 68);
    padding: 15px;
    margin: 10px;
    

}
.boiteaboite{
    display: flex;
    flex-direction: column;
    
}
.Personnage{
    text-align: center;
    background-color: rgb(148, 108, 180);
}
.boitePerso{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    background-color: rgb(188, 172, 224);
    border: 10px solid rgb(45, 5, 68);
    padding: 5%;
    justify-content: center;
    justify-content: space-between;

}

.vieHeros{
    background-color: rgb(57, 194, 23);
}

.manaHeros{
    background-color: rgb(39, 19, 218);
}

#pvRaph{
    width:120px;
}

#pmRaph{
    width:120px;
}

#pvLeo{
    width:120px;
}

#pmLeo{
    width:120px;
}

#pvDona{
    width:120px;
}

#pmDona{
    width:120px;
}

#pvMichel{
    width:120px;
}

#pmMichel{
    width:120px;
}

.spritesbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#spriteGreen{
    height: 200px;
      width: 200px;
      background: url(https://i.imgur.com/njy9Ryi.png)
        0px 0px;
    }
#spriteBlue{
    height: 200px;
    width: 200px;
    background: url(https://i.imgur.com/paSy05y.png)
        0px 0px;
}

#spritePurple{
    height: 200px;
    width: 200px;
    background: url(https://i.imgur.com/TYau9UF.png)
        0px 0px;
}

#spriteOrange{
    height: 200px;
    width: 200px;
    background: url(https://i.imgur.com/9Ss5JLS.png)
        0px 0px;
}

.damageSurHeros{
    background: url("assets/damageOnHeros.png");
    height: 200px;
    width: 200px;
}

.damageAnim{
    background: url("assets/damageAnimation.png");
    height: 500px;
    width: 500px;
}

.spriteBoxMon{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 500px;
    width: 100%;
}

#spriteCrab{
    background: url("assets/CRAB.png");
    height: 500px;
    width: 500px;
}

#spritePoulpe{
    background: url("assets/poulpe.png");
    height: 500px;
    width: 500px;
    justify-content: center;
}

#spriteFish{
    background: url("assets/fish.png");
    height: 500px;
    width: 500px;
}

.monstres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(83, 54, 50);

}
.mon{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(252, 252, 252);
    width: 100px;
    background-color: rgb(85, 36, 40);
    border: 10px solid rgb(107, 6, 6);
    padding: 25px;
    margin: 10px;
    color: white;
}


.mon .boiteMon{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

#pvFish{
    width: 120px;
}

#pvPoulpe{
    width: 120px;
}

#pvCrabe{
    width: 120px;
}

.mon:hover .boiteMon {
    visibility: visible;
}
